[Unit]
Description=Vykar backup daemon
Documentation=https://vykar.borgbase.com/daemon.html
ConditionPathExists=%E/vykar/config.yaml
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/vykar --config %E/vykar/config.yaml daemon
ExecReload=kill -HUP $MAINPID
Restart=on-failure
RestartSec=60

CacheDirectory=vykar
Environment=XDG_CACHE_HOME=%C
StateDirectory=vykar

# NB: Redirect the scheduler lock (under XDG_CONFIG_HOME) to the state directory
Environment=XDG_CONFIG_HOME=%S

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
